{% extends 'index.html' %}

{% block content %}
   <h1>Mercedes Pilar Miquelez</h1>
   <h2>Playground final Project</h2>
   <p>Mi nombre es Mercedes, tengo 35 años y me recibí de Arquitecta en la UBA en 2012. Desde entonces, viaje, trabaje y encontre algo que me volvio a apasionar cuando empece a estudiar programacion hace mas de un año y medio.</p>
   <br>
   <p>Estudiar es algo que realmente me apasiona y encontre en la programacion algo que puedo disfrutar. El curso de Python me parecio muy interesantes y me gusto mucho.</p>
   <br>
   <p>Espero seguir formandome para ir adquiriendo cada dia mas conocimientos en el mundo de la programacion.</p>
{% endblock %}