{% extends 'index.html' %}

{% block content %}
  <h1>Lista de Posts</h1>
  <ul class="list-group">
    {% for post in posts %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          titulo: {{ post.title }}<br>
          subtitulo: {{post.subtitle}}<br>
          contenido: {{post.content}}
          <div>
            <a href="{% url 'app1:detail_post' post.pk %}" class="btn btn-danger btn-sm ml-2">Leer Mas</a>
            <a href="{% url 'app1:update_post' post.pk %}" class="btn btn-danger btn-sm ml-2">Editar</a>
            <a href="{% url 'app1:delete_post' post.pk %}" class="btn btn-danger btn-sm ml-2">Eliminar</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'app1:create_post' %}" class="btn btn-primary mt-3">Crear nuevo post</a>
{% endblock %}